@import '../Theme/theme';

.Footer{
	padding: 20px;
	background-color: $darkGrey;
	
    &-Description {
        color: $lightGrey;
        font-size: 12px;
        text-align: center;
    }

    @media screen and ($tablet) {
        padding: 30px;

        &-Description {
            font-size: 14px;
        }
    }
}

